.venv
__pycache__/
*.pyc
*.pkl
*.npy
data/raw/
.kiro/
.hypothesis/

# Ignore everything inside models
models/*

# Allow specific files
!models/ridge_model.pkl
!models/rf_model.pkl
!models/scaler.pkl

# Ignore heavy subfolder
models/bert_weights/

# Ignore large file types
*.safetensors
*.npy